{% extends "plot/base.html" %}
{% load widget_tweaks %}
{% block title %}
create plot
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
{% endblock %}
{% block content %}
<p>create a new plot.</p>
    <form action="{% url 'plot:create' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="field">
            <div class="field-label is-normal">
                <label class="label">title</label>
            </div>
            <div class="field-body">
                <div class="control">
                    {% render_field form.title placeholder="title" class="input" %}
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-label is-normal">
                <label class="label">Genre</label>
            </div>
            <div class="field-body">
                <div class="control">
                    <div class="select">
                        {% render_field form.genre %}
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-label is-normal">
                <label class="label">content</label>
            </div>
            <div>
                <div class="field">
                    <div class="control">
                        {% render_field form.content %}
                    </div>
                </div>
            </div>
        </div>
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
    </form>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("id_content") });
</script>
{% endblock %}