{% extends "plot/base.html" %}
{% load widget_tweaks %}
{% block title %}
プロットの新規作成- PlotHub
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
{% endblock %}
{% block content %}
<h1 class="title">プロットの新規作成</h1>
{% include 'plot/editor.html' with action='plot:create' pk=False %}
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("id_content") });
</script>
{% endblock %}