{% load widget_tweaks %}
    <div class="field is-grouped is-grouped-centered">
        {% if pk %}
            <form action="{% url action pk %}" method="post" novalidate>
        {% else %}
            <form action="{% url action %}" method="post" novalidate>
        {% endif %}
            {% csrf_token %}
                <div class="field">
                        <label class="label">title</label>
                    <div class="field-body">
                        <div class="control">
                            {% render_field form.title placeholder="タイトル" %}
                        </div>
                    </div>
                </div>
                <div class="field">
                        <label class="label">Genre</label>
                    <div class="field-body">
                        <div class="control">
                            <div class="select">
                                {% render_field form.genre %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">content</label>
                    <div class="field-body">
                        <div class="control">
                            {% render_field form.content id="id_content"%}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Submit</button>
                    </div>
                </div>
            </form>
    </div>