<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% include "_message.html" %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block script %}{% endblock %}
    </body>
</html>
