[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.15"
"argon2-cffi" = "*"
django-allauth = "*"
django-widget-tweaks = "*"

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
